<!DOCTYPE html>
<html>
 <head>
  <title>Overshare!</title>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>

  <script src="/lib/sprintf-0.7-beta1.js"></script>
  <script src="/lib/underscore-min.js"></script>

  <script>
   var accessToken = '<%= session.accessToken %>';
   var githubProfile = <%= (session.profile && session.profile.services.github)?true:false %>;
  </script>

  <script src="/client.js"></script>

  <link rel="stylesheet" href="/styles.css" />
 </head>

 <body>
  <h1><a href="/">Overshare!</a></h1>

  <%- body %>
 </body>
</html>
